<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Videoteca.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Videoteca.Properties.Settings.VideotecaConnectionString"
            connectionString="Data Source=(local);Initial Catalog=Videoteca;Integrated Security=True;Trust Server Certificate=true"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Videoteca.Properties.Settings>
            <setting name="Titulo" serializeAs="String">
                <value>Videoteca</value>
            </setting>
            <setting name="EnderecoServidorSQL" serializeAs="String">
                <value>(local)</value>
            </setting>
            <setting name="NomeBaseDeDados" serializeAs="String">
                <value>Videoteca</value>
            </setting>
            <setting name="CorDasTelas" serializeAs="String">
                <value>Control</value>
            </setting>
        </Videoteca.Properties.Settings>
    </userSettings>
</configuration>